<%= form_with(model: galactic_arm, local: true) do |form| %>
  <% if galactic_arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galactic_arm.errors.count, "error") %> prohibited this galactic_arm from being saved:</h2>

      <ul>
      <% galactic_arm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
