<nav class="main-nav navbar">
    <a class="navbar-brand" href="#">Timeline</a>
    <%= link_to "People", controller: "persons" %>
    <%= link_to "Galactic Clusters", controller: "galactic_clusters" %> 
    <%= link_to "Galactic Arms", controller: "galactic_arms" %>
    <%= link_to "Artificial Constructs", controller: "artificial_constucts" %>
</nav>