    <p>
    <strong>Name:</strong>
    <%= @person.name %>
    </p>

    <p>
    <strong>Summary:</strong>
    <%= @person.summary %>
    </p>

    <%= link_to 'back', persons_path %>
    <%= link_to 'delete', person_person_deleter_path(@person), method: :put %>

